# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
env/
.venv/

# Env files
.env
.env.*

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Django
staticfiles/
media/
