version: "3.9"
services:
  web:
    build: .
    container_name: drf_app
    env_file:
      - .env.prod
    volumes:
      - .:/app
    command: "python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
  db:
    image: postgres:17
    container_name: postgres_db
    env_file:
      - .env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  redis:
    image: redis:7.2-alpine
    container_name: redis_app
    restart: always
  celery:
    container_name: celery
    build: .
    volumes:
      - .:/app
    command: celery --app=config worker -l INFO
    depends_on:
      - redis
  celery_beat:
    container_name: celery_beat
    build: .
    command: celery --app=config beat -l INFO
    volumes:
      - .:/app
      - celery_beat_data:/app/celerybeat
    depends_on:
      - redis
      - db
volumes:
  postgres_data:
  celery_beat_data: